<%- include("./partials/header") %>

    <div class="container my-4">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body text-center p-4">
                        <img src="<%= checkedUser.imageUrl %> " style="height: 100px;" alt="">
                        <div class="my-3">
                            <h4 class="card-title"><%= checkedUser.username %> </h4>
                            <p class="text-muted">Joined <%= checkedUser.date_created %> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"><%= title %>  Posts</h3>
                    </div>
                    <div class="card-body p-4">
                       <% if (posts.length > 0) { %> 
                            <% posts.map(post => { %> 
                                <div class="border-bottom p-2" style="display: flex;">
                                    <img src="<%= post.author.imageUrl %> " style="height: 70px; margin-right: 30px;" alt="">
                                    <div class="forum-content">
                                        <h4><a href="/<%= post.slug %>"><%= post.title %> </a></h4>
                                        <p class="text-muted">
                                        <a href="/posts/<%= post.category %>"><span class="badge bg-secondary"><%= post.category %></span></a> posted on <strong><%= post.date_created %> </strong> (<%= post.comments.length %>  comments) </p>
                                    </div>
                                </div>
                            <% }) %>
                        <% } else { %> 
                            <p class="text-center">There are no posts</p>
                        <% } %> 
                        
                        </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include("./partials/footer") %>